In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [19]:
# Sample data
data = [
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 1},
    {'Qualification': 'Lawyer', 'Target': 0},
    {'Qualification': 'Scientist', 'Target': 1},
    {'Qualification': 'Professor', 'Target': 0},
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 0},
    {'Qualification': 'Engineering', 'Target': 0},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 0},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 1},
    {'Qualification': 'Professor', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 0},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 0},
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 0},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 1},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 0},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 0},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 1},
    {'Qualification': 'Professor', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 1},
    {'Qualification': 'Engineering', 'Target': 1},
    {'Qualification': 'Doctor', 'Target': 0},
    {'Qualification': 'Lawyer', 'Target': 1},
    {'Qualification': 'Scientist', 'Target': 0},
    {'Qualification': 'Professor', 'Target': 1}
]

In [20]:
# Create a DataFrame from the sample data
df = pd.DataFrame(data)
df

   Qualification  Target
0    Engineering       1
1         Doctor       1
2         Lawyer       0
3      Scientist       1
4      Professor       0
5    Engineering       1
6         Doctor       0
7         Lawyer       1
8      Scientist       0
9      Professor       0
10   Engineering       0
11        Doctor       0
12        Lawyer       1
13     Scientist       0
14     Professor       1
15   Engineering       0
16        Doctor       0
17        Lawyer       1
18     Scientist       1
19     Professor       1
20   Engineering       0
21        Doctor       0
22        Lawyer       1
23     Scientist       0
24     Professor       0
25   Engineering       1
26        Doctor       0
27        Lawyer       0
28     Scientist       0
29     Professor       1
30        Doctor       1
31        Lawyer       1
32   Engineering       0
33     Scientist       0
34     Professor       0
35        Doctor       0
36        Lawyer       1
37   Engineering       1
38     Scientist       1
39     Professor       0
40     Professor       1
41   Engineering       1
42        Doctor       0
43        Lawyer       1
44     Scientist       0
45     Professor       1
46   Engineering       1
47        Doctor       0
48        Lawyer       1
49     Scientist       0
50     Professor       1

In [21]:
# Calculate the mean target for each category
qual_mean_target = df.groupby('Qualification')['Target'].mean()
qual_mean_target

Qualification
Doctor         0.200000
Engineering    0.600000
Lawyer         0.800000
Professor      0.545455
Scientist      0.300000
Name: Target, dtype: float64

In [22]:
# Apply mean encoding
df['Mean_Encoded_Qualification'] = df['Qualification'].map(qual_mean_target)

In [23]:
df

   Qualification  Target  Mean_Encoded_Qualification
0    Engineering       1                    0.600000
1         Doctor       1                    0.200000
2         Lawyer       0                    0.800000
3      Scientist       1                    0.300000
4      Professor       0                    0.545455
5    Engineering       1                    0.600000
6         Doctor       0                    0.200000
7         Lawyer       1                    0.800000
8      Scientist       0                    0.300000
9      Professor       0                    0.545455
10   Engineering       0                    0.600000
11        Doctor       0                    0.200000
12        Lawyer       1                    0.800000
13     Scientist       0                    0.300000
14     Professor       1                    0.545455
15   Engineering       0                    0.600000
16        Doctor       0                    0.200000
17        Lawyer       1                    0.800000
18     Scientist       1                    0.300000
19     Professor       1                    0.545455
20   Engineering       0                    0.600000
21        Doctor       0                    0.200000
22        Lawyer       1                    0.800000
23     Scientist       0                    0.300000
24     Professor       0                    0.545455
25   Engineering       1                    0.600000
26        Doctor       0                    0.200000
27        Lawyer       0                    0.800000
28     Scientist       0                    0.300000
29     Professor       1                    0.545455
30        Doctor       1                    0.200000
31        Lawyer       1                    0.800000
32   Engineering       0                    0.600000
33     Scientist       0                    0.300000
34     Professor       0                    0.545455
35        Doctor       0                    0.200000
36        Lawyer       1                    0.800000
37   Engineering       1                    0.600000
38     Scientist       1                    0.300000
39     Professor       0                    0.545455
40     Professor       1                    0.545455
41   Engineering       1                    0.600000
42        Doctor       0                    0.200000
43        Lawyer       1                    0.800000
44     Scientist       0                    0.300000
45     Professor       1                    0.545455
46   Engineering       1                    0.600000
47        Doctor       0                    0.200000
48        Lawyer       1                    0.800000
49     Scientist       0                    0.300000
50     Professor       1                    0.545455